# Introduction to Pandas in Python - Day 11

In [31]:
#pip install pandas

In [32]:
# Import libraries

import pandas as pd
import numpy as np

In [33]:
# object creation

s = pd.Series([1,2,3,4,np.nan,5,6,7,8,9,np.nan])
s

0     1.0
1     2.0
2     3.0
3     4.0
4     NaN
5     5.0
6     6.0
7     7.0
8     8.0
9     9.0
10    NaN
dtype: float64

In [34]:
dates = pd.date_range("20220101",periods=11)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11'],
              dtype='datetime64[ns]', freq='D')

In [35]:
dates = pd.date_range("20220101",periods=30)
dates
df = pd.DataFrame(np.random.randn(30,5), index=dates,columns=list("ABCDE"))
df

                   A         B         C         D         E
2022-01-01  0.906159  0.664458  1.236797  1.561218  0.916424
2022-01-02 -1.240299  0.472029 -1.127136 -1.546856 -0.160262
2022-01-03  0.054447  0.154965  0.010563  1.031653 -1.145871
2022-01-04  1.553267 -0.159635 -0.976624  0.309227 -0.650072
2022-01-05 -0.259292 -1.236140  0.855186 -2.111433 -1.667466
2022-01-06  1.397562 -1.305608 -0.313106 -0.227814 -1.613869
2022-01-07 -0.887197 -0.002781 -0.962212 -0.356758  1.823789
2022-01-08 -0.186413  0.810457  0.266058 -0.668211 -0.787116
2022-01-09 -0.946963  0.596890  0.326755 -0.815295  1.274486
2022-01-10 -2.218612 -0.976785  0.953904 -0.310482 -0.519264
2022-01-11 -0.519658 -1.380610  1.295960  2.294845 -1.084240
2022-01-12  0.445267  0.495747 -1.159086 -0.008904 -1.504856
2022-01-13  0.678857  0.209995  1.205965  0.425179 -1.608251
2022-01-14 -1.203610  0.309132  0.675214 -1.156164  1.384539
2022-01-15 -0.547789 -0.790456  0.820054  0.055960  0.189002
2022-01-16  2.055325 -0.135248  0.742480  1.897678 -0.774829
2022-01-17 -0.215120 -0.014151  0.280558  1.225864 -0.404677
2022-01-18  0.222874 -0.584627 -0.996831 -2.064645 -0.005932
2022-01-19  2.340941  0.328115  0.512769  1.027620  0.985454
2022-01-20  0.147326 -0.670895 -0.795560 -2.436181 -0.097420
2022-01-21  1.659983  0.221969 -0.373543  2.080905 -0.503246
2022-01-22 -0.232646  0.158718 -0.899235  0.644599  0.136099
2022-01-23  0.394007  1.255515 -0.709895  0.084963  2.228050
2022-01-24 -0.167007 -1.381709  0.480523  0.039808 -0.320010
2022-01-25  0.041559 -0.213874 -0.510519 -1.384397  0.362793
2022-01-26  0.259853  0.432430  0.384940 -0.391781 -0.907088
2022-01-27  0.390794  0.516903  0.208661 -1.203946  0.667992
2022-01-28 -0.576893 -0.643516 -1.596956 -0.109779 -2.341251
2022-01-29 -1.336938  1.084399 -1.303303  0.105994  0.899689
2022-01-30  1.546914  0.013671 -1.278541 -0.407054 -0.529038

In [36]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
E    float64
dtype: object

In [37]:
df.head(3)

                   A         B         C         D         E
2022-01-01  0.906159  0.664458  1.236797  1.561218  0.916424
2022-01-02 -1.240299  0.472029 -1.127136 -1.546856 -0.160262
2022-01-03  0.054447  0.154965  0.010563  1.031653 -1.145871

In [38]:
df.tail(2)

                   A         B         C         D         E
2022-01-29 -1.336938  1.084399 -1.303303  0.105994  0.899689
2022-01-30  1.546914  0.013671 -1.278541 -0.407054 -0.529038

In [39]:
df.index

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30'],
              dtype='datetime64[ns]', freq='D')

In [40]:
#df.to_numpy()

In [41]:
# give summary of the dataframe
df.describe()

               A          B          C          D          E
count  30.000000  30.000000  30.000000  30.000000  30.000000
mean    0.118557  -0.059021  -0.091539  -0.080473  -0.191881
std     1.070651   0.726200   0.880625   1.221198   1.110377
min    -2.218612  -1.381709  -1.596956  -2.436181  -2.341251
25%    -0.540756  -0.628794  -0.946468  -0.778524  -0.877095
50%     0.048003   0.084318   0.109612  -0.059341  -0.362344
75%     0.620460   0.462129   0.634603   0.589744   0.591692
max     2.340941   1.255515   1.295960   2.294845   2.228050

In [46]:
df.sort_index(axis=0,ascending=False)

                   A         B         C         D         E
2022-01-30  1.546914  0.013671 -1.278541 -0.407054 -0.529038
2022-01-29 -1.336938  1.084399 -1.303303  0.105994  0.899689
2022-01-28 -0.576893 -0.643516 -1.596956 -0.109779 -2.341251
2022-01-27  0.390794  0.516903  0.208661 -1.203946  0.667992
2022-01-26  0.259853  0.432430  0.384940 -0.391781 -0.907088
2022-01-25  0.041559 -0.213874 -0.510519 -1.384397  0.362793
2022-01-24 -0.167007 -1.381709  0.480523  0.039808 -0.320010
2022-01-23  0.394007  1.255515 -0.709895  0.084963  2.228050
2022-01-22 -0.232646  0.158718 -0.899235  0.644599  0.136099
2022-01-21  1.659983  0.221969 -0.373543  2.080905 -0.503246
2022-01-20  0.147326 -0.670895 -0.795560 -2.436181 -0.097420
2022-01-19  2.340941  0.328115  0.512769  1.027620  0.985454
2022-01-18  0.222874 -0.584627 -0.996831 -2.064645 -0.005932
2022-01-17 -0.215120 -0.014151  0.280558  1.225864 -0.404677
2022-01-16  2.055325 -0.135248  0.742480  1.897678 -0.774829
2022-01-15 -0.547789 -0.790456  0.820054  0.055960  0.189002
2022-01-14 -1.203610  0.309132  0.675214 -1.156164  1.384539
2022-01-13  0.678857  0.209995  1.205965  0.425179 -1.608251
2022-01-12  0.445267  0.495747 -1.159086 -0.008904 -1.504856
2022-01-11 -0.519658 -1.380610  1.295960  2.294845 -1.084240
2022-01-10 -2.218612 -0.976785  0.953904 -0.310482 -0.519264
2022-01-09 -0.946963  0.596890  0.326755 -0.815295  1.274486
2022-01-08 -0.186413  0.810457  0.266058 -0.668211 -0.787116
2022-01-07 -0.887197 -0.002781 -0.962212 -0.356758  1.823789
2022-01-06  1.397562 -1.305608 -0.313106 -0.227814 -1.613869
2022-01-05 -0.259292 -1.236140  0.855186 -2.111433 -1.667466
2022-01-04  1.553267 -0.159635 -0.976624  0.309227 -0.650072
2022-01-03  0.054447  0.154965  0.010563  1.031653 -1.145871
2022-01-02 -1.240299  0.472029 -1.127136 -1.546856 -0.160262
2022-01-01  0.906159  0.664458  1.236797  1.561218  0.916424

In [48]:
# sort values by the column(series)
df.sort_values(by="B",ascending=False)

                   A         B         C         D         E
2022-01-23  0.394007  1.255515 -0.709895  0.084963  2.228050
2022-01-29 -1.336938  1.084399 -1.303303  0.105994  0.899689
2022-01-08 -0.186413  0.810457  0.266058 -0.668211 -0.787116
2022-01-01  0.906159  0.664458  1.236797  1.561218  0.916424
2022-01-09 -0.946963  0.596890  0.326755 -0.815295  1.274486
2022-01-27  0.390794  0.516903  0.208661 -1.203946  0.667992
2022-01-12  0.445267  0.495747 -1.159086 -0.008904 -1.504856
2022-01-02 -1.240299  0.472029 -1.127136 -1.546856 -0.160262
2022-01-26  0.259853  0.432430  0.384940 -0.391781 -0.907088
2022-01-19  2.340941  0.328115  0.512769  1.027620  0.985454
2022-01-14 -1.203610  0.309132  0.675214 -1.156164  1.384539
2022-01-21  1.659983  0.221969 -0.373543  2.080905 -0.503246
2022-01-13  0.678857  0.209995  1.205965  0.425179 -1.608251
2022-01-22 -0.232646  0.158718 -0.899235  0.644599  0.136099
2022-01-03  0.054447  0.154965  0.010563  1.031653 -1.145871
2022-01-30  1.546914  0.013671 -1.278541 -0.407054 -0.529038
2022-01-07 -0.887197 -0.002781 -0.962212 -0.356758  1.823789
2022-01-17 -0.215120 -0.014151  0.280558  1.225864 -0.404677
2022-01-16  2.055325 -0.135248  0.742480  1.897678 -0.774829
2022-01-04  1.553267 -0.159635 -0.976624  0.309227 -0.650072
2022-01-25  0.041559 -0.213874 -0.510519 -1.384397  0.362793
2022-01-18  0.222874 -0.584627 -0.996831 -2.064645 -0.005932
2022-01-28 -0.576893 -0.643516 -1.596956 -0.109779 -2.341251
2022-01-20  0.147326 -0.670895 -0.795560 -2.436181 -0.097420
2022-01-15 -0.547789 -0.790456  0.820054  0.055960  0.189002
2022-01-10 -2.218612 -0.976785  0.953904 -0.310482 -0.519264
2022-01-05 -0.259292 -1.236140  0.855186 -2.111433 -1.667466
2022-01-06  1.397562 -1.305608 -0.313106 -0.227814 -1.613869
2022-01-11 -0.519658 -1.380610  1.295960  2.294845 -1.084240
2022-01-24 -0.167007 -1.381709  0.480523  0.039808 -0.320010

In [49]:
#selecting different values by columns
df["A"]

2022-01-01    0.906159
2022-01-02   -1.240299
2022-01-03    0.054447
2022-01-04    1.553267
2022-01-05   -0.259292
2022-01-06    1.397562
2022-01-07   -0.887197
2022-01-08   -0.186413
2022-01-09   -0.946963
2022-01-10   -2.218612
2022-01-11   -0.519658
2022-01-12    0.445267
2022-01-13    0.678857
2022-01-14   -1.203610
2022-01-15   -0.547789
2022-01-16    2.055325
2022-01-17   -0.215120
2022-01-18    0.222874
2022-01-19    2.340941
2022-01-20    0.147326
2022-01-21    1.659983
2022-01-22   -0.232646
2022-01-23    0.394007
2022-01-24   -0.167007
2022-01-25    0.041559
2022-01-26    0.259853
2022-01-27    0.390794
2022-01-28   -0.576893
2022-01-29   -1.336938
2022-01-30    1.546914
Freq: D, Name: A, dtype: float64

In [54]:
# row wise data selection
df[0:3] # shows 0 to 3 index rows excluding 4th row.

                   A         B         C         D         E
2022-01-01  0.906159  0.664458  1.236797  1.561218  0.916424
2022-01-02 -1.240299  0.472029 -1.127136 -1.546856 -0.160262
2022-01-03  0.054447  0.154965  0.010563  1.031653 -1.145871

In [56]:
# cross section data means getting specific row data crosswise.
df.loc[dates[2]] # with dtype

A    0.054447
B    0.154965
C    0.010563
D    1.031653
E   -1.145871
Name: 2022-01-03 00:00:00, dtype: float64

In [62]:
# select data-date wise and specific column wise

df.loc["2022-01-01":"20220110",["A","D","E"]]

                   A         D         E
2022-01-01  0.906159  1.561218  0.916424
2022-01-02 -1.240299 -1.546856 -0.160262
2022-01-03  0.054447  1.031653 -1.145871
2022-01-04  1.553267  0.309227 -0.650072
2022-01-05 -0.259292 -2.111433 -1.667466
2022-01-06  1.397562 -0.227814 -1.613869
2022-01-07 -0.887197 -0.356758  1.823789
2022-01-08 -0.186413 -0.668211 -0.787116
2022-01-09 -0.946963 -0.815295  1.274486
2022-01-10 -2.218612 -0.310482 -0.519264

In [65]:
# select data from different dates and specific column wise

df.loc[["2022-01-01","20220110","20220103"],["A","C","D","E"]]

                   A         C         D         E
2022-01-01  0.906159  1.236797  1.561218  0.916424
2022-01-10 -2.218612  0.953904 -0.310482 -0.519264
2022-01-03  0.054447  0.010563  1.031653 -1.145871

In [66]:
# cross section data means getting specific row data crosswise.
df.loc["20220103", ["A","D"]] # with dtype

A    0.054447
D    1.031653
Name: 2022-01-03 00:00:00, dtype: float64

In [69]:
# find data with row and column

#df.at["20220105","D"]# with row data to get column value
df.at[dates[0],"D"]# with row name to get colum value

1.56121785040103

In [79]:
# data in specific row position
df.iloc[0:5, 0:1] # 1st is row 2nd is column

                   A
2022-01-01  0.906159
2022-01-02 -1.240299
2022-01-03  0.054447
2022-01-04  1.553267
2022-01-05 -0.259292

In [81]:
# data in specific column position
df.iloc[:, 0:1] # 1st is row 2nd is column, shows all data in the specific column.

                   A
2022-01-01  0.906159
2022-01-02 -1.240299
2022-01-03  0.054447
2022-01-04  1.553267
2022-01-05 -0.259292
2022-01-06  1.397562
2022-01-07 -0.887197
2022-01-08 -0.186413
2022-01-09 -0.946963
2022-01-10 -2.218612
2022-01-11 -0.519658
2022-01-12  0.445267
2022-01-13  0.678857
2022-01-14 -1.203610
2022-01-15 -0.547789
2022-01-16  2.055325
2022-01-17 -0.215120
2022-01-18  0.222874
2022-01-19  2.340941
2022-01-20  0.147326
2022-01-21  1.659983
2022-01-22 -0.232646
2022-01-23  0.394007
2022-01-24 -0.167007
2022-01-25  0.041559
2022-01-26  0.259853
2022-01-27  0.390794
2022-01-28 -0.576893
2022-01-29 -1.336938
2022-01-30  1.546914

In [87]:
# show values using boolean in the specific column
df[df["A"] > 1.0] #shows values within the specific column
#df[df > 2] # shows values from all over the dataset

                   A         B         C         D         E
2022-01-04  1.553267 -0.159635 -0.976624  0.309227 -0.650072
2022-01-06  1.397562 -1.305608 -0.313106 -0.227814 -1.613869
2022-01-16  2.055325 -0.135248  0.742480  1.897678 -0.774829
2022-01-19  2.340941  0.328115  0.512769  1.027620  0.985454
2022-01-21  1.659983  0.221969 -0.373543  2.080905 -0.503246
2022-01-30  1.546914  0.013671 -1.278541 -0.407054 -0.529038

In [88]:
# copying data from existing dataset
df2 = df.copy()

In [90]:
#adding new column to the copied dataset
df2["F"] = ["One","Two","One","Two","One","Two","One","Two","One","Two","One","Two","One","Two","One","Two","One","Two","One","Two","One","Two","One","Two","One","Two","One","Two","One","Two"]
df2

                   A         B         C         D         E    F
2022-01-01  0.906159  0.664458  1.236797  1.561218  0.916424  One
2022-01-02 -1.240299  0.472029 -1.127136 -1.546856 -0.160262  Two
2022-01-03  0.054447  0.154965  0.010563  1.031653 -1.145871  One
2022-01-04  1.553267 -0.159635 -0.976624  0.309227 -0.650072  Two
2022-01-05 -0.259292 -1.236140  0.855186 -2.111433 -1.667466  One
2022-01-06  1.397562 -1.305608 -0.313106 -0.227814 -1.613869  Two
2022-01-07 -0.887197 -0.002781 -0.962212 -0.356758  1.823789  One
2022-01-08 -0.186413  0.810457  0.266058 -0.668211 -0.787116  Two
2022-01-09 -0.946963  0.596890  0.326755 -0.815295  1.274486  One
2022-01-10 -2.218612 -0.976785  0.953904 -0.310482 -0.519264  Two
2022-01-11 -0.519658 -1.380610  1.295960  2.294845 -1.084240  One
2022-01-12  0.445267  0.495747 -1.159086 -0.008904 -1.504856  Two
2022-01-13  0.678857  0.209995  1.205965  0.425179 -1.608251  One
2022-01-14 -1.203610  0.309132  0.675214 -1.156164  1.384539  Two
2022-01-15 -0.547789 -0.790456  0.820054  0.055960  0.189002  One
2022-01-16  2.055325 -0.135248  0.742480  1.897678 -0.774829  Two
2022-01-17 -0.215120 -0.014151  0.280558  1.225864 -0.404677  One
2022-01-18  0.222874 -0.584627 -0.996831 -2.064645 -0.005932  Two
2022-01-19  2.340941  0.328115  0.512769  1.027620  0.985454  One
2022-01-20  0.147326 -0.670895 -0.795560 -2.436181 -0.097420  Two
2022-01-21  1.659983  0.221969 -0.373543  2.080905 -0.503246  One
2022-01-22 -0.232646  0.158718 -0.899235  0.644599  0.136099  Two
2022-01-23  0.394007  1.255515 -0.709895  0.084963  2.228050  One
2022-01-24 -0.167007 -1.381709  0.480523  0.039808 -0.320010  Two
2022-01-25  0.041559 -0.213874 -0.510519 -1.384397  0.362793  One
2022-01-26  0.259853  0.432430  0.384940 -0.391781 -0.907088  Two
2022-01-27  0.390794  0.516903  0.208661 -1.203946  0.667992  One
2022-01-28 -0.576893 -0.643516 -1.596956 -0.109779 -2.341251  Two
2022-01-29 -1.336938  1.084399 -1.303303  0.105994  0.899689  One
2022-01-30  1.546914  0.013671 -1.278541 -0.407054 -0.529038  Two

In [109]:
#Taking the mean based on the column names - 2nd method
df2["Mean"] = df.loc[:,["A","B","C","D","E"]].mean(axis=1)
df2

,A,B,C,D,E,F,mean,Mean
2022-01-01,0.906159,0.664458,1.236797,1.561218,0.916424,One,1.057011,1.057011
2022-01-02,-1.240299,0.472029,-1.127136,-1.546856,-0.160262,Two,-0.720505,-0.720505
2022-01-03,0.054447,0.154965,0.010563,1.031653,-1.145871,One,0.021151,0.021151
2022-01-04,1.553267,-0.159635,-0.976624,0.309227,-0.650072,Two,0.015233,0.015233
2022-01-05,-0.259292,-1.236140,0.855186,-2.111433,-1.667466,One,-0.883829,-0.883829
2022-01-06,1.397562,-1.305608,-0.313106,-0.227814,-1.613869,Two,-0.412567,-0.412567
2022-01-07,-0.887197,-0.002781,-0.962212,-0.356758,1.823789,One,-0.077032,-0.077032
2022-01-08,-0.186413,0.810457,0.266058,-0.668211,-0.787116,Two,-0.113045,-0.113045
2022-01-09,-0.946963,0.596890,0.326755,-0.815295,1.274486,One,0.087175,0.087175
2022-01-10,-2.218612,-0.976785,0.953904,-0.310482,-0.519264,Two,-0.614248,-0.614248
2022-01-11,-0.519658,-1.380610,1.295960,2.294845,-1.084240,One,0.121259,0.121259
2022-01-12,0.445267,0.495747,-1.159086,-0.008904,-1.504856,Two,-0.346366,-0.346366
2022-01-13,0.678857,0.209995,1.205965,0.425179,-1.608251,One,0.182349,0.182349
2022-01-14,-1.203610,0.309132,0.675214,-1.156164,1.384539,Two,0.001822,0.001822
2022-01-15,-0.547789,-0.790456,0.820054,0.055960,0.189002,One,-0.054646,-0.054646
2022-01-16,2.055325,-0.135248,0.742480,1.897678,-0.774829,Two,0.757081,0.757081
2022-01-17,-0.215120,-0.014151,0.280558,1.225864,-0.404677,One,0.174495,0.174495
2022-01-18,0.222874,-0.584627,-0.996831,-2.064645,-0.005932,Two,-0.685832,-0.685832
2022-01-19,2.340941,0.328115,0.512769,1.027620,0.985454,One,1.038980,1.038980
2022-01-20,0.147326,-0.670895,-0.795560,-2.436181,-0.097420,Two,-0.770546,-0.770546
2022-01-21,1.659983,0.221969,-0.373543,2.080905,-0.503246,One,0.617214,0.617214
2022-01-22,-0.232646,0.158718,-0.899235,0.644599,0.136099,Two,-0.038493,-0.038493
2022-01-23,0.394007,1.255515,-0.709895,0.084963,2.228050,One,0.650528,0.650528
2022-01-24,-0.167007,-1.381709,0.480523,0.039808,-0.320010,Two,-0.269679,-0.269679
2022-01-25,0.041559,-0.213874,-0.510519,-1.384397,0.362793,One,-0.340887,-0.340887
2022-01-26,0.259853,0.432430,0.384940,-0.391781,-0.907088,Two,-0.044329,-0.044329
2022-01-27,0.390794,0.516903,0.208661,-1.203946,0.667992,One,0.116081,0.116081
2022-01-28,-0.576893,-0.643516,-1.596956,-0.109779,-2.341251,Two,-1.053679,-1.053679
2022-01-29,-1.336938,1.084399,-1.303303,0.105994,0.899689,One,-0.110032,-0.110032
2022-01-30,1.546914,0.013671,-1.278541,-0.407054,-0.529038,Two,-0.130810,-0.130810